# Hardware
adafruit-circuitpython-tsl2561==3.3.3
rpi.gpio==0.7.0
gpiozero==1.6.2

# Camera
gphoto2==2.2.4

# ExifTool
PyExifTool==0.4.7

# Web
flask==1.1.2
flask-restx==0.5.1
flask-socketio==5.0.3
requests==2.25.1

# Configuration
dataclasses-json==0.5.2

# Tensorflow Lite (Python 3.8)
numpy==1.20.2
pillow==9.0.0

--extra-index-url https://google-coral.github.io/py-repo/
tflite_runtime
