# Hardware
adafruit-circuitpython-tsl2561==3.3.7
rpi.gpio==0.7.0
gpiozero==1.6.2

# Camera
gphoto2==2.3.2

# ExifTool
PyExifTool==0.4.11

# Web
flask==2.3.2
flask-restx==0.5.1
flask-socketio==5.0.3
requests==2.27.1

# Configuration
dataclasses-json==0.5.6

# Tensorflow Lite (Python 3.8)
numpy==1.22.2
pillow==9.3.0

--extra-index-url https://google-coral.github.io/py-repo/
pycoral~=2.0
--extra-index-url https://google-coral.github.io/py-repo/
tflite_runtime
